
header{
    width: 1400px;
    height: 88px;
}
nav.menu{
    width: 635px;
    height: 88px;
    position: absolute;
    left: 32%;
    padding: 32px 0px;
}

           

 nav ul{
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    color: #000;
    display: inline-block;
    list-style-type: none; 
    margin: 0;
    padding: 0;
   
 }
 nav ul li{
    display: inline;
    padding: 32px 0px;
    margin-right: 32px;
 }
nav ul li a{
    text-decoration: none; 
    color:#000;
}

img{
 width: 1400px;
height: 552px;
}
div.content-div{
    padding: 88px 0px;
width: 856px;
height: 920px;
margin:  0 auto;
}
h2{
 
font-weight: 600;
font-size: 48px;
line-height: 135%;
text-align: center;
color: #000;
}
p.text-div{
font-family: var(--font-family);
font-weight: 500;
font-size: 21px;
line-height: 150%;
color: #161616;
}
span{
font-weight: 600;
color: #04959e;
}
ol li{
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #161616;
}
button{
padding: 10px 24px;
width: 145px;
height: 44px;
background: #04959e;
color: white;
text-align: center;
border:none;
 margin-left: 32%;
}
footer{
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
text-align:center;
color: #161616;
border-top: 2px solid #000;

}






